%h1 Prompt Categories

%table
  %tr
    %th
    %th
    %th

  - @prompt_categories.each do |prompt_category|
    %tr
      %td= prompt_category.text
      %td= link_to 'Edit', edit_prompt_category_path(prompt_category)
      %td= link_to 'Delete', prompt_category, method: :delete, data: { confirm: 'Are you sure?' }

%br

%div= link_to 'New Prompt category', new_prompt_category_path
