body {
  margin: 0;
  background-color: black;
  font-family: "Archivo Narrow", Arial, Verdana, sans-serif;
}

iframe {
  border: none;
}

a {
  text-decoration: none;
  color: #d0a42e;

  &:hover {
    color: white;
  }
}

.last {
  margin-right: 0px !important;
}

.rdg_logo {
  position: fixed;
  width: 80px;
  right: 8px;
  bottom: 0;
}

header {
  position: fixed; 
  z-index: 1; 
  width:100%;
  background-color:#2e2e2e;

  .section {
    width: 960px;
    height: 34px;
    margin: auto;
    line-height: 34px;
    font-size: 22px;
    color: #ccc;
    padding: 0px;

    &:first-child {
      border: 1px solid #444;
      border-width:0 0 1px 0;
    }

    .section_title {
      float: left;
      width: 140px;
      padding: 0 10px;
      color: black;
      background:#9d7301;
      text-decoration: none;
      background: -moz-linear-gradient(top,  #9d7301 0%, #d0a42e 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9d7301), color-stop(100%,#d0a42e));
      background: -webkit-linear-gradient(top,  #9d7301 0%,#d0a42e 100%);
      background: -o-linear-gradient(top,  #9d7301 0%,#d0a42e 100%);
      background: -ms-linear-gradient(top,  #9d7301 0%,#d0a42e 100%);
      background:linear-gradient(top,  #9d7301 0%,#d0a42e 100%);
      filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#9d7301', endColorstr='#d0a42e',GradientType=0 );

      &:hover {
        color: #ffffff;
      }
    }

    .section_description {
      color: #ccc;
      padding: 0 10px;
      float: left;
    }

    .section_action {
      width: 100px;
      float: right;
      color: #d0a42e;
      text-decoration: none;
      
      &:hover {
        color: #ffffff;
      }
    }
  }
}

.container {
  font-family: "Archivo Narrow";
  color: #ccc;
  width: 960px;
  padding: 60px 0 40px 0;
  font-size:18px;
  margin: auto;

  .logoHolder {
    width: 400px;
    height: 160px;
    float: left;
    margin: 50px 280px 0 280px; 
    background-image: url("/assets/laurels.jpg");
    background-size: 100% 100%;
    position: relative;
    text-align: center; 
    font-family: Cinzel;  

    .main_title {
      font-size: 22px;
    } 

    .subtitle {
      font-size: 15px;
    }
  }

  .top {
    padding: 0px;
  }

  .heading {
    padding: 0px;
    font-size: 24px;
  }

  .centered {
    text-align: center;
  }

  ul {
    margin-left: 20px;

    li {
      margin-top: 10px;
    }

    &:first-child {
      margin-top: 0px;
    }
  }

  .past_winners {
    font-size: 30px;
    padding-top: 20px;
  }
}

.past_festival {
  float: left;
  width: 960px;
  margin: 20px 0;
  padding:40px 0;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  background:#0b0a0a;
  background: -moz-linear-gradient(top,  #161616 0%, #0b0a0a 50%, #161616 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#161616), color-stop(50%,#0b0a0a), color-stop(100%,#161616));
  background: -webkit-linear-gradient(top,  #161616 0%,#0b0a0a 50%,#161616 100%);
  background: -o-linear-gradient(top,  #161616 0%,#0b0a0a 50%,#161616 100%);
  background: -ms-linear-gradient(top,  #161616 0%,#0b0a0a 50%,#161616 100%);
  background:linear-gradient(top,  #161616 0%,#0b0a0a 50%,#161616 100%);
  -pie-background:linear-gradient(top,  #161616 0%, #0b0a0a 50%, #161616 100%);
  behavior:url(/css/css/PIE.htc);
  position:relative;

  .festival_prompt {
    padding: 0 90px 40px;
    font-size: 20px;
  }

  .video_holder {
    width: 250px;
    float:left;
    margin-left:90px;

    .tweet_text {
      padding: 10px 0;
    }    
  }
}