body {
  margin: 0;
  background-color: black;
  font-family: "Archivo Narrow", Arial, Verdana, sans-serif;
}

iframe {
  border: none;
}

a {
  text-decoration: none;
  color: #d0a42e;

  &:hover {
    color: white;
  }
}

.last {
  margin-right: 0px !important;
}

.rdg_logo {
  position: fixed;
  width: 80px;
  right: 8px;
  bottom: 0;
}

.container {
  font-family: "Archivo Narrow";
  color: #ccc;
  width: 960px;
  padding: 20px 0 40px 0;
  font-size:18px;
  margin: auto;

  section {
    float:left;
    width:960px;

    &.top {
      margin-bottom:20px;

      .left_column {
        float:left;
        width:400px;

        .heading {
          float:left;
          position:relative;
          top:-10px;
          font-size:19px;
          padding-left:5px;
          width: 100%;
          text-align: center;
        }
      }

      .right_column {
        float:left;
        padding:20px 0 0 50px;
        width:500px;        
      }
    }
  }

  .logoHolder {
    width: 400px;
    height: 160px;
    float: left;    
    background-image: url("/assets/laurels.jpg");
    background-size: 100% 100%;
    position: relative;
    text-align: center; 
    font-family: Cinzel;  

    .main_title {
      font-size: 22px;
    } 

    .subtitle {
      font-size: 15px;
    }    
  }  

  .top {
    padding: 0px;
  }

  .heading {
    padding: 0px;
    font-size: 24px;
  }

  .centered {
    text-align: center;
  }

  ul {
    margin-left: 20px;

    li {
      margin-top: 10px;
    }

    &:first-child {
      margin-top: 0px;
    }
  }

  .past_winners {
    font-size: 30px;
    padding-top: 20px;
  }
}

.about_link_holder {
  height: 80px;
  font-family: Cinzel;
  padding-top: 20px;
  float: left;
  text-align: center;

  .about_link {
    margin-top: 10px;
    border: 3px solid gold;
    opacity: 0.7;
    color: black;
    padding: 4px 20px;
    font-weight: bold;
    font-size: 38px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    background:#0b0a0a;
    background: -moz-linear-gradient(top,  goldenrod 0%, gold 50%, goldenrod 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,goldenrod), color-stop(50%,gold), color-stop(100%,goldenrod));
    background: -webkit-linear-gradient(top,  goldenrod 0%,gold 50%,goldenrod 100%);
    background: -o-linear-gradient(top,  goldenrod 0%,gold 50%,goldenrod 100%);
    background: -ms-linear-gradient(top,  goldenrod 0%,gold 50%,goldenrod 100%);
    background:linear-gradient(top,  goldenrod 0%,gold 50%,goldenrod 100%);
    
    &:hover {
      opacity:1;
    }    
  }
}

.container.static_container {
  font-size: 24px;

  p {
    margin: 20px 0;
  }

  .logoHolder {
    margin: 20px 280px 0 280px; 
  }
}

.past_festivals {
  width:960px;
  float:left;
}

.past_festival {
  float: left;
  width: 960px;
  margin: 20px 0;
  padding:40px 0;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  background:#0b0a0a;
  background: -moz-linear-gradient(top,  #161616 0%, #0b0a0a 50%, #161616 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#161616), color-stop(50%,#0b0a0a), color-stop(100%,#161616));
  background: -webkit-linear-gradient(top,  #161616 0%,#0b0a0a 50%,#161616 100%);
  background: -o-linear-gradient(top,  #161616 0%,#0b0a0a 50%,#161616 100%);
  background: -ms-linear-gradient(top,  #161616 0%,#0b0a0a 50%,#161616 100%);
  background:linear-gradient(top,  #161616 0%,#0b0a0a 50%,#161616 100%);
  position:relative;

  .festival_prompt {
    padding: 0 90px 40px;
    font-size: 20px;
  }

  .video_holder {
    width: 250px;
    float:left;
    margin-left:90px;

    .tweet_text {
      padding: 10px 0;
    }    
  }
}

@media (max-width: 480px) {

  .rdg_logo {
    width: 20px;
  }

  .container {
    width: 320px;    

    section.top {
      width: 320px;
      float: none;
      margin: auto;

      .left_column {
        .logoHolder, .heading {
          left: -40px;
        }
      }

      .right_column {
        padding-left: 10px;
        width: 100%;
      }

      .about_link_holder {
        width: 100%;
      }
    }
  }

  .past_festivals {
    width: 320px;
    margin: auto;
    float: none;
  }

  .past_festival {
    width: 320px;
    margin: auto 10px;
    padding: 20px 0;    

    .festival_prompt {
      padding: 0 20px 20px;
    }

    .video_holder {
      width: 300px;
      float:left;
      margin-left:10px !important;

      iframe {
        height: 300px !important;
        width: 300px !important;
      }

      .tweet_text {
        padding: 10px 0;
      }    
    }
  }
}